/src/.idea/
/src/Database/Database.Context/bin/
/src/Database/Database.Context/obj/
/src/Database/Database.Models/bin/
/src/Database/Database.Models/obj/
/src/Database/Database.Repositories/bin/
/src/Database/Database.Repositories/obj/
/src/Dto/Project.Dto.Http/bin/
/src/Dto/Project.Dto.Http/obj/
/src/Dto/Project.Dto.Http.Converters/bin/
/src/Dto/Project.Dto.Http.Converters/obj/
/src/Logs/
/src/Project.Core/bin/
/src/Project.Core/obj/
/src/Project.HttpServer/bin/
/src/Project.HttpServer/obj/
/src/Services/Project.Service.AuthorizationService/bin/
/src/Services/Project.Service.AuthorizationService/obj/
/src/Services/Project.Services.CompanyService/bin/
/src/Services/Project.Services.CompanyService/obj/
/src/Services/Project.Services.EducationService/bin/
/src/Services/Project.Services.EducationService/obj/
/src/Services/Project.Services.EmployeeService/bin/
/src/Services/Project.Services.EmployeeService/obj/
/src/Services/Project.Services.PositionHistoryService/bin/
/src/Services/Project.Services.PositionHistoryService/obj/
/src/Services/Project.Services.PositionService/bin/
/src/Services/Project.Services.PositionService/obj/
/src/Services/Project.Services.PostHistoryService/bin/
/src/Services/Project.Services.PostHistoryService/obj/
/src/Services/Project.Services.PostService/bin/
/src/Services/Project.Services.PostService/obj/
/src/Services/Project.Services.ScoreService/bin/
/src/Services/Project.Services.ScoreService/obj/
/src/Tests/Project.Service.Tests/bin/
/src/Tests/Project.Service.Tests/obj/
/src/Tests/Project.Repository.Tests/bin/
/src/Tests/Project.Repository.Tests/obj/
/Debug/
/Logs/
/scripts/
*.zip
/docs/images/*.drawio
/docs/images/*.bkp
/docs/images/*.svg

/data/
/src/Project.HttpServer/uploads/

# Allure
/allure-results/
/allure-report/
/tools/
